html {
	margin: 0;
	padding: 0;
}

body {  
	background-color: #9FCFE3;
	color: #3C4238;
	font: Georgia, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	text-shadow: 2px 2px 5px #737F7C;
	margin-bottom: .2em;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#mainheader{
	display: table-row;
	font-size: 50px;
	text-align: center;
}

#subheader{
	disply: table-row;
}

.elias {
	display:table-cell;
}

.transform {
	display: table-cell;
	vertical-align: top;
	font-size: 25px;
}

.elias img{
	width: 150px;
	height: 200px;
	border-radius: 5px;
}

nav {
	background-color: #737F7C;
	padding: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
	text-align:center;
}

.content {
	background-color: #FFFFFF;
	margin: auto;
	width: 80%;
	max-width: 600px;
	height: 100%;
	border-style:none double none;
}

p {
	text-align: justify;
}


h1 {
	text-align:left;
	color: #175065;
	font-size: 16px;
}

h2 {
	text-align: left;
	color: #175065;
	font-size: 12px;
	text-indent: 5em;
}

footer {
	margin-bottom: .2em;
	margin-top: 5em;
	padding: .5em;
	text-align: center;
}

section {
	padding: .2em;
}

a:link, a:visited {
		font-weight: bold;
		text-decoration: none;
		color: #F1FCFB;
}

a:focus, a:hover, a:active {
		text-decoration: none;
		color: #175065;
		background-color: #9FCFE3;
}

