html {
	margin: 0;
	padding: 0;
}

body {  
	color: #000;
	font-family: "TundraWebPro", Georgia, Times, serif;
	font-size: 1.25em;
	font-weight: 400;
	color: #1a1a1a;
	background-color: #1a1a1a;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

#mainheader {
	display:table;
	padding: .5em;
}

.elias {
	display: table-cell;
}

.elias img {
	border-radius: 5px;
	width: 150px;
	height: 200px;
}

header {
	display: table-cell;
	color: #C02;
	font-size: 1.5em;
	vertical-align: top;
}

#subheader {
	color: #1a1a1a;
	font-size: .7em;
}

nav {
	font-size: .745em;
	padding: .2em;
}

nav li{
	list-style-type: none;
	display: inline;
}

.content {
	width: 80%;
	min-width: 600px;
	max-width: 800px;
	background-color: #fafafa; 
	margin: auto;
}

p {
	text-align: justify;
	text-indent: 2em;
}

h1 {
	text-align:left;
	color: #C02;
	text-transform: uppercase;
	font-size: .7em;
}

h2 {
	font-size: .6em;
	text-indent: 3em;
}

footer {
	padding-top: 2.725em;
	margin: auto;
	text-align: center;
	border-top: 1px solid #1a1a1a;
}

section {
	padding: .5em;
}

li a {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}

a:link, a:visited {
	color: #777;
}

a:focus, a:hover, a:active {
	color: #000;
}

